
<footer>
    <div class="nav-options">
        <div class="f-social-info">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
           

        </div>
        <div class="f-info-brand">&copy; wanderlust private limted</div>
         
        <div class="f-links">
            <a href="/private">private</a>
            <a href="/terms">terms</a>
        </div> 

    </div>
</footer>