<% layout("/layouts/bolierplate") %>

<div class="row">
    <div class="col-8 offset-2"> 
        <br/>
        <br/>
<h1>create your new listing</h1>

    <form method="POST"action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label"  >Title</label>
             <input name="listing[title]" placeholder="enter your title" class="form-control"required>
             <div class="invalid-feedback">please enter title</div>
        </div>
        <div class="mb-3"> 
            <label for="decription" class="form-label"  >Description</label>
            <input type="text" id="description" name="listing[description]" placeholder="enter your description" class="form-control" required>
            <div class="invalid-feedback">please enter Description</div>
        </div>
         
         <div class="mb-3">
            <label for="image" class="form-label"> Upload Image</label>
            <input name="listing[image]"  type="file" class="form-control">
         </div>
         <div class="row">
            <div class="mb-3 col-md-4" > 
                <label for="price" class="form-label" >price</label>
            <input name="listing[price]" placeholder="enter your price" type="number" class="form-control"required  >
            <div class="invalid-feedback">please enter valid price</div>
         </div>
         <div  class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="enter your country"class="form-control"required >
            <div class="invalid-feedback">please entercountry name</div>
          </div>
         </div>
         
         <div class="mb-3"> 
            <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="enter your location" class="form-control"required >
        <div class="invalid-feedback">please enter location</div>
       </div>
       
        <button  class="btn btn-dark add-btn">Add</button>
        <br/>
        <br/>
        
    
    </form>
    </div>
     </div>
   
 
 